::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}



.ProseMirror:focus {
  outline: none;
}

.ProseMirror-widget[placeholder]::before {
  opacity: 0.3;
  position: absolute;
  content: attr(placeholder);
  pointer-events: none;
}

.ProseMirror-widget::before {
  position: absolute;
}

.ProseMirror th, .ProseMirror td {
  min-width: 1em;
  border: 1px solid #222;
  padding: 3px 5px;
}

pre {
  tab-size: 2; /* Set tab size to 4 characters wide */
}

.ProseMirror table {
  overflow: visible;
}